/* ======================
Project name: My Exam Blog
Description: My exam after the first year at Noroff.
Version: 0.0.1
Author: Christopher Tønnesland

Style list:

1. Global style

2. Typography

3. Feedback handling
   
4. Components / Classes
    4.1 - Skipping nav for user accessibility
    4.2 - Container's
    4.3 - Image carousel
5. 

6. Media Queries 
   
====================== */


/* ======================
    1. GLOBAL STYLE
====================== */

:root {

    /* Color testing */
    --bg-clr: #181818;
    --box-bg-clr:#424141;

    --title-clr: #71AAD0;
    --para-clr: #c0c0c0;
    --para-clr-2: #181818;
    --border-clr: #eb3d33;



    /* -- Global Colors -- */
    --prim-clr: ;
    /* Khaki */
    --sec-clr: ;
    /* HoneySuckle */
    --background-clr: ;
    /* Taupe */
    --type-clr: ;
    /* Cool Gray */
    --shadow-clr: ;

    /* -- Global Header -- */
    --ff-header: 'Gothic A1', sans-serif;

    /* -- Global Header -- */
    --ff-body: 'Gothic A1', sans-serif;

    /* -- Global Header -- */
    --ff-button: 'Gothic A1', sans-serif;

    /* -- Global Border -- */
    --border: 0.015em solid var(--border-clr);

    /* -- Global Border hover -- */
    --border-hover: 0.015em solid var(--border-clr);

    /* -- Global border-radius -- */
    --border-radius: 0.25em;

    /* -- Global padding & margin -- */
    --padding: 1.5rem;
    --margin: 2.5rem;

    /* -- Global padding buttons -- */
    --btn-pad: 0.35em 1.2em;

    /* -- Global black-shadow -- */
    --box-shadow: 0px 0px 2px 3px rgba(56, 58, 61, 0.36);
    --box-shadow-deep: 0px 0px 10px 0px rgba(0, 0, 0, 0.5),
        0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    --hover-shadow: 0px 5px 16px 5px rgba(7, 77, 217, 0.452);

    /* -- Feedback handling -- */
    --clr-prim: hsla(195, 100%, 40%, 0.35);
    --prim-bor: var(--border) #0099cc;

    --clr-warn: hsla(32, 100%, 50%, 0.35);
    --warn-bor: var(--border) #ff8800;

    --clr-err: hsla(0, 100%, 40%, 0.35);
    --err-bor: var(--border) #cc0000;

    --clr-ok: hsla(144, 100%, 25%, 0.35);
    --ok-bor: var(--border) #007e33;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    height: 100vh;

    margin: 0;
    padding: 0;
    background-color: var(--bg-clr);
}

/* ========== Header ========== */

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;

    background-color: var(--bg-clr);
}

.header-bg-image {
    height: 300px;
    background-image: url(https://www.esaote.com/fileadmin/user_upload/more/universo-815x300.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.company-brand {
    display: flex;
    padding: 15px;

}

.brand-name {
    font-size: 36px;
}

/* ========== Navigation ========== */

nav {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 25px;
    justify-content: flex-end;
    margin-top: auto;
}

.nav-link {
    color: var(--para-clr);
}

.nav-link:hover {
    color: var(--border-clr);
}

/* ========== Main ========== */

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section {
    padding: 15px;
}

/* ========== Image ========== */

img {
    display: block;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* ========== Unordered & Ordered list ========== */

ol,
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
}

/* ========== Footer ========== */

footer {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    padding: var(--padding);

    background-color: var(--bg-clr);
}

footer > p {
    color: var(--para-clr);
}

/* ======================
    2. TYPOGRAPHY
====================== */

/* Header post posts font-family: 'Bebas Neue', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Signature from author font-family: 'Sacramento', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

/* Paragraph font-family: 'Gothic A1', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;600&display=swap');

h1 {
font-family: 'Bebas Neue', cursive;
    color: var(--title-clr);
    font-size: 58px;
}

h2 {
    font-family: var(--ff-header);
    color: var(--title-clr);
    font-size: 40px;
}

h3 {
    font-family: var(--ff-header);
    color: var(--title-clr);
    font-size: 36px;
}

h4 {
    font-family: var(--ff-header);
    color: var(--title-clr);
    font-size: 26px;
}

p {
    font-family: var(--ff-body);
    font-weight: 200;
    color: var(--para-clr);
}

a {
    font-family: 'Gothic A1', sans-serif;
    text-decoration: none;
    cursor: pointer;
}


/* ======================
    3. FEEDBACK HANDLING
====================== */

.feedback-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    align-content: center;

    font-family: "Smooch Sans", sans-serif;
    font-size: 19px;

    margin: 10px auto;
    padding: var(--padding);
}

.primary {
    border: var(--prim-bor);
    background-color: var(--clr-prim);
}

.warning {
    border: var(--warn-bor);
    background-color: var(--clr-warn);
}

.error {
    border: var(--err-bor);
    background-color: var(--clr-err);
}

.success {
    border: var(--ok-bor);
    background-color: var(--clr-ok);
}


/* ======================
    4. COMPONENTS / CLASSES
====================== */

/* === 4.1 - Skipping nav for user accessibility  === */

.skip-nav {
    display: block;
    position: absolute;
    transform: translateY(-120px);
    transition: 360ms ease-in;
    background-color: black;
    color: red;
    padding: .72rem;
    width: fit-content;
    height: fit-content;
    border-radius: .25rem;
    text-align: center;
}

.skip-nav:hover {
    background-color: black;
    color: red;
    padding: .72rem;
    width: fit-content;
    height: fit-content;
    border-radius: .25rem;
    text-align: center;
}

.skip-nav:focus {
    transform: translateY(0px);
}

/* === 4.2 - Container's  === */
.container-wrapper {
    padding: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.flex-col {
    flex-direction: column;
}

.box-container {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

.box {
    border: 1px solid black;
    background-color: var(--box-bg-clr);
    border-radius: .45rem;
    padding: 25px;
    min-width: 350px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.5);
}

.box > h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

/* === 4.3 - Image carousel  === */

.slide-show {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.slide-show > h2 {
    font-size: 1.75rem;
}

.slide-show-frame {
    display: flex;
    align-items: center;
    background-color: var(--bg-clr);
}

.container-slide-show {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

.slide-container {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.25s ease-in-out;
    box-shadow: 0px 5px 10px rgb(255, 27, 27);
}

.slide-image {
    padding: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;

}

.slide-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

.slide-header > h3,
.slide-header > p {
    padding: 0;
    margin: 0;
}

.slide-main {
    margin: 15px 0;
}

.publish-date,
.slide-main > p {
    padding: 0;
    margin: 0;
    color: var(--para-clr-2);    
}

.slide-footer {
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
}

.slide-footer > .btn {
    padding: 7px 14px;
    border: none;
    border-radius: 3px;

    background-color: var(--title-clr);
    color: #000000;
}

.slide-footer > .btn:hover {
    box-shadow: 0px 1px 5px rgb(255, 27, 27);
}

.slide-header,
.slide-main,
.slide-footer {
    padding: 0 15px;
}

.prev-btn,
.next-btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .75rem;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    padding: .45rem;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: transparent;
    color: rgb(255, 27, 27);
    border: 1px solid rgb(255, 27, 27);
    border-radius: .75rem;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    padding: .45rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    box-shadow: 0px 1px 5px rgb(255, 27, 27);
}



/* ======================
    5.
====================== */




/* ======================
    6. MEDIA QUERIES
====================== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}